/* This is the css page for my practice personal homepage */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
    width: 600px;
    margin: 50px auto;
}

/*
#content {
    max-width: 80%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}
*/

@font-face {
    font-family: Varela Round; 
    src: url('https://fonts.google.com/specimen/Varela+Round'); 
} 

/*.scrolling {
    background-color: rgba(196, 196, 196, 1);
}
*/
#topHeader {
    padding-top: 40px; 
    padding-bottom: 60px;
    /*We need to set these otherwise sticky does not work */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    transition: .5s;
    background-color: white;
}

#topLogo {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    transition: .5s;
    font-size: 35px;
    padding-bottom: 30px;
    background-color: transparent;
    display: block;
    transition: .5s;
}

#nameLogo {
    text-decoration:none;
    color: rgba(0, 0, 0, .85);
    transition: .5s;
}

.text {
    padding-top: 150px;
}

#topNavigationBar {
    border-bottom: 1px solid rgba(208, 208, 208, .5);
}

#topNavList {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
}

li.topNavElem-home{
    display: inline;
    list-style: none;
    /*float:left;*/
}

li.topNavElem-active {
    display: inline;
    list-style: none;
    margin-right: 20px; 
    border-bottom: 2px solid rgba(208, 208, 208, .5);
    text-align: center;
}

li.topNavElem {
    display: inline;
    list-style:none;
    margin-right:20px;
    text-align: center;
}

.topNavElem a:hover {
    border-bottom: 2px solid rgba(208, 208, 208, .5);
    color: rgba(0, 0, 0, .85);
}

.topNavElem-home a {
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(0, 0, 0, .85); 
    text-align: center;
}


.topNavElem-active a {
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(0, 0, 0, .85); 
    text-align: center;
}

.topNavElem a {
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(150, 150, 150, .7);
    text-align: center;
}
