/* This is the css page for my practice personal homepage */

* {
  margin: 0;
  padding: 0;
}

#content {
    max-width: 80%;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}


@font-face {
    font-family: Varela Round; 
    src: url('https://fonts.google.com/specimen/Varela+Round'); 
} 

header {
    padding-top: 30px;
    padding-bottom: 30px;
}

#nameHeading {
    text-decoration:none;
    color: rgba(0, 0, 0, .85);
}

header h1 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

#topNav {
    text-align: center;
}

.topNavigationBar {
    border-bottom: 2px solid rgba(208, 208, 208, .5);
}

li.topNavElem-active {
    display: inline-block;
    list-style:none;
    margin-right:20px; 
    border-bottom: 2px solid rgba(208, 208, 208, .5);
}

li.topNavElem {
    display: inline-block;
    list-style:none;
    margin-right:20px;
}

.topNavElem a:hover {
    border-bottom: 2px solid rgba(208, 208, 208, .5);
    color: rgba(0, 0, 0, .85);
}

.topNavElem-active a {
    text-decoration: none;
    font-size: 23px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(0, 0, 0, .85); 
    text-align: center;
}

.topNavElem a {
    text-decoration: none;
    font-size: 23px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(150, 150, 150, .7);
    text-align: center;
}
